<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSocket Chat {{ name }}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }
        #chatBox {
            height: 300px;
            border: 1px solid #ccc;
            overflow-y: scroll;
            margin-bottom: 10px;
            padding: 10px;
        }
        #messageInput {
            width: 70%;
            padding: 5px;
        }
        #sendButton {
            padding: 5px 10px;
        }
    </style>
</head>
<body>
    <h1 id="title">WebSocket Chat</h1>
    <input type="text" id="userNameInput" placeholder="Enter User Name">
    <button id="connectButton">Connect</button>
    <input type="text" id="toNameInput" placeholder="Enter Send User">
    <div id="chatBox" style="margin-top: 5px"></div>
    <input type="text" id="messageInput" placeholder="Please enter message">
    <button id="sendButton">Send</button>

    <script>
        const chatBox = document.getElementById('chatBox');
        const messageInput = document.getElementById('messageInput');
        const sendButton = document.getElementById('sendButton');

        const userNameInput = document.getElementById('userNameInput');
        const toNameInput = document.getElementById('toNameInput');
        const connectButton = document.getElementById('connectButton');

        connectButton.onclick = function() {
            const name = userNameInput.value;

            if (!name) {
                alert('Input User Name');
                return;
            }

            document.getElementById('title').textContent += `  /  USER: ${name}`

            const socket = new WebSocket(`ws://localhost:{{port}}/ws?name=${name}`);
            socket.onopen = function(event) {
                appendMessage('System: Establish WebSocket connection');
            };
    
            socket.onmessage = function(event) {
                appendMessage(`Receive: ${event.data}`);
            };
    
            socket.onclose = function(event) {
                appendMessage('System: WebSocket connection is closed');
            };
    
            sendButton.onclick = function() {
                const message = messageInput.value;
                const toName = toNameInput.value;

                if (message) {
                    const messageObject = {
                        user_id : name,
                        to_id : toName,
                        message: message
                    };

                    socket.send(JSON.stringify(messageObject));
                    appendMessage(`Send: ${message}`);
                    messageInput.value = '';
                }
            };
    
        };


        messageInput.onkeypress = function(event) {
            if (event.key === 'Enter') {
                sendMessage();
            }
        };

        function appendMessage(message) {
            const messageElement = document.createElement('div');
            messageElement.textContent = message;
            chatBox.appendChild(messageElement);
            chatBox.scrollTop = chatBox.scrollHeight;
        }
    </script>
</body>
</html>
